/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. #2e8555 */
:root {
    --ifm-color-primary: #c10945;
    --ifm-color-primary-dark: #a0073a;
    --ifm-color-primary-darker: #8f0633;
    --ifm-color-primary-darkest: #6e0527;
    --ifm-color-primary-light: #d61a5a;
    --ifm-color-primary-lighter: #e62d6c;
    --ifm-color-primary-lightest: #f2558c;
    --ifm-link-color: var(--ifm-color-primary);
    --ifm-link-hover-color: var(--ifm-color-primary-light);
    --ifm-code-font-size: 95%;
    --docusaurus-highlighted-code-line-bg: rgba(193, 9, 69, 0.08);
}

/* ===== Dark Mode ===== */
[data-theme='dark'] {
    --ifm-color-primary: #ff3b7d;
    --ifm-color-primary-dark: #e62d6c;
    --ifm-color-primary-darker: #d61a5a;
    --ifm-color-primary-darkest: #a0073a;
    --ifm-color-primary-light: #ff5c95;
    --ifm-color-primary-lighter: #ff7cab;
    --ifm-color-primary-lightest: #ff9dc2;
    --ifm-link-color: var(--ifm-color-primary);
    --ifm-link-hover-color: var(--ifm-color-primary-light);
    --docusaurus-highlighted-code-line-bg: rgba(255, 59, 125, 0.15);
}

.hero--primary {
  background-color: #c10945; /* เปลี่ยนสีพื้นหลัง Hero */
  color: white; /* เปลี่ยนสีตัวหนังสือทั้งหมดใน Hero */
}

.verticalButtons {
  display: flex;
  flex-direction: column;
  align-items: center;   /* center buttons */
  gap: 1rem;             /* space between buttons */
}

table {
    width: 100%;
}

th {
    text-align: left;
}

table td {
  vertical-align: middle;
}

table td:first-child {
  width: 150px;
}

table img {
  display: block;
}